/* You can add global styles to this file, and also import other style files */

.bg-body,
.bg-grey {
  background-color: #efefef !important;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.trans {
  background-color: transparent !important;
}

.verticalDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingText {
  font-family: Indie Flower, cursive;
}
